.idea

*.yaml
!.pre-commit-config.yaml
!example-config.yaml
!example-registration.yaml

*.json
/attachments
!/imessage/direct/ids/types/errors.json
!/imessage/direct/util/utitype/mime-to-uti.json

*.session
*.db*
*.log

/beeper-imessage
/start
/.android-ipc-bin
/imgo.h
/imgo.so
